.footer {
  min-width: 1200px;
  background-color: getColor('bgd-primary');
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: flex;
    align-items: baseline;
  }
  &__address,
  .social {
    display: inline-block;
    margin-right: 70px;
  }
  &__address {
    padding-left: 15px;
  }
  p {
    line-height: 1.7;
    font-size: 14px;
    color: getColor('secondary');
    font-style: normal;
    padding-top: 20px;
  }
  &__p {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;
  }
  &__input {
    margin-right: 15px;
    width: 358px;
    padding: 15px 16px 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px 28px 10px 42px;
    background-color: getColor('brand-color');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    fill: getColor('secondary');
  }
  &__send {
    align-items: center;
    color: getColor('secondary');
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-right: 24px;
  }
  .contact__link {
    color: getColor('link-primary');
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: getColor('brand-color');
    }
  }
  .social {
    &__list-icon {
      display: flex;
    }
    &__link {
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: getColor('brand-color');
      }
    }
    &__icon {
      display: block;
      fill: getColor('secondary');
      padding: 12px;
    }
  }
}
